[openinghours]
==
<footer>
    <div class="top container-fluid pt-5 pb-sm-5">
        <div class="container-lg">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                <div class="col">
                    <p class="mb-0 d-flex justify-content-between align-items-center">
{#                        <a href="{{ 'homepage'|page }}" class="mi mi-logo"></a>#}
                        <a href="{{ 'homepage'|page }}">
                            <img src="{{ 'assets/images/logo.svg'|theme }}" alt="logo" />
                        </a>

                        <a href="#footer-1" data-bs-toggle="collapse" class="toggler text-decoration-none d-sm-none">
                            <i class="ph ph-caret-up fs-2"></i>
                        </a>
                    </p>

                    <div class="collapse show" id="footer-1">

                    </div>
                </div>

                <div class="col">
                    <div class="d-flex justify-content-between align-items-center mt-4 pt-4 border-top border-1 border-white border-opacity-25 mt-sm-0 pt-sm-0">
                        <h3 class="heading mb-0">
                            Provozní doba
                        </h3>
                    </div>

                    <div class="collapse" id="footer-2">
                        <div class="pt-4">
                            {% component "openinghours" slug="provozni-doba" %}
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex justify-content-between align-items-center mt-4 pt-4 border-top border-1 border-light border-opacity-25 mt-md-0 pt-md-0">
                        <h3 class="heading mb-0">
                            Kontakty
                        </h3>

                        <a href="#footer-3" data-bs-toggle="collapse" class="toggler collapsed text-decoration-none d-sm-none">
                            <i class="ph ph-caret-up"></i>
                        </a>
                    </div>

                    <div class="collapse" id="footer-3">
                        <div class="contact pt-5 d-flex flex-column justify-content-between gap-3">
                            {% if this.theme.phone or this.theme.email %}
                                <p class="mb-0 d-flex flex-column">
                                    {% if this.theme.phone %}
                                        <a href="tel:{{ this.theme.phone }}" target="_blank" class="phone">
                                            {{ this.theme.phone }}
                                        </a>
                                    {% endif %}

                                    {% if this.theme.email %}
                                        <a href="mailto:{{ this.theme.email }}" target="_blank" class="email">
                                            {{ this.theme.email }}
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex justify-content-between align-items-center mt-4 pt-4 border-top border-1 border-light border-opacity-25 mt-xl-0 pt-xl-0">
                        <h3 class="heading mb-0">
                            Kde nás najdete
                        </h3>

                        <a href="#footer-4" data-bs-toggle="collapse" class="toggler collapsed text-decoration-none d-sm-none">
                            <i class="ph ph-caret-up"></i>
                        </a>
                    </div>

                    <div class="collapse" id="footer-4">
                        <div class="contact pt-5 d-flex flex-column justify-content-between gap-3">
                            {% if this.theme.street or this.theme.city %}
                                <p class="mb-0 d-flex flex-column">
                                    {% if this.theme.street %}
                                        <span>
                                        {{ this.theme.street }} {{ this.theme.street_no }}
                                    </span>
                                    {% endif %}

                                    {% if this.theme.city %}
                                        <span>
                                        {{ this.theme.zip }} {{ this.theme.city }}
                                    </span>
                                    {% endif %}

                                    {% if this.theme.map_link %}
                                        <a href="{{ this.theme.map_link }}" target="_blank">
                                            Ukázat na mapě
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom container-fluid pt-4 pt-sm-0">
        <div class="container-lg">
            <div class="border-top border-1 border-light py-4">
                <div class="row row-cols-2 d-flex align-items-center row-cols-md-3">
                    <div class="col order-1 mt-4 col-md mt-md-0 d-flex">
                        <div class="socials d-inline-flex align-items-center gap-2 justify-content-end">
                            {% if this.theme.facebook %}
                                <a href="{{ this.theme.facebook }}" target="_blank" class="d-inline-flex text-decoration-none">
                                    <i class="ph ph-facebook-logo"></i>
{#                                    <i class="mi mi-facebook icon"></i>#}
                                </a>
                            {% endif %}

                            {% if this.theme.instagram %}
                                <a href="{{ this.theme.instagram }}" target="_blank" class="d-inline-flex text-decoration-none">
                                    <i class="ph ph-instagram-logo"></i>
{#                                    <i class="mi mi-instagram icon"></i>#}
                                </a>
                            {% endif %}

                            {% if this.theme.youtube %}
                                <a href="{{ this.theme.youtube }}" target="_blank" class="d-inline-flex text-decoration-none">
                                    <i class="ph ph-youtube-logo"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12 order-0 d-flex justify-content-center col-md order-md-1">
                        &copy; {{ "now"|date("Y") }}, STK Trutnov, s. r. o.
                    </div>

                    <div class="col order-1 mt-4 col-md mt-md-0">
                        <p class="mb-0 d-flex justify-content-end">
                            <a href="https://www.hucr.cz" target="_blank" class="mi-signature"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
