<header class="{{ this.page.url == '/' ? 'homepage' }}">
    <div class="container-fluid">
{#        <div class="container-lg">#}
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between row row-cols-lg-3">
                <div class="col col-lg-2 d-flex py-4">
                    <a href="{{ 'homepage'|page }}" class="d-flex align-items-center logo">
                        <img src="{{ 'assets/images/logo.png'|theme }}" alt="logo">
                    </a>
                </div>

                <div class="col-lg-8 d-none d-xxl-flex justify-content-center align-self-stretch">
                    {% component "mainmenu" %}
                </div>

                <div class="col-lg-2 d-none d-xxl-flex align-items-center justify-content-end gap-4">
                    <p class="m-0">
                        <img src="{{ 'assets/images/logo-dekra.png'|theme }}" alt="logo">
                    </p>
{#                    <div class="search">#}
{#                        <a href="" class="d-flex align-items-center">#}
{#                            <i class="ph ph-magnifying-glass"></i>#}
{#                        </a>#}
{#                    </div>#}

{#                    {% if this.theme.phone %}#}
{#                        <div class="phone">#}
{#                            <a href="tel: {{ this.theme.phone }}" target="_blank" class="d-inline-flex text-decoration-none align-items-center gap-2 link-info fs-3">#}
{#                                <i class="ph ph-phone icon fs-2 text-black"></i>#}

{#                                <span>#}
{#                                    {{ this.theme.phone }}#}
{#                                </span>#}
{#                            </a>#}
{#                        </div>#}
{#                    {% endif %}#}

{#                    {% if this.theme.facebook or this.theme.instagram or this.theme.youtube %}#}
{#                        <div class="socials d-inline-flex align-items-center gap-2 justify-content-end">#}
{#                            {% if this.theme.facebook %}#}
{#                                <a href="{{ this.theme.facebook }}" target="_blank" class="d-inline-flex text-decoration-none">#}
{#    #}{#                                <i class="ph ph-facebook-logo icon"></i>#}
{#                                    <i class="mi mi-facebook icon"></i>#}
{#                                </a>#}
{#                            {% endif %}#}

{#                            {% if this.theme.instagram %}#}
{#                                <a href="{{ this.theme.instagram }}" target="_blank" class="d-inline-flex text-decoration-none">#}
{#    #}{#                                <i class="ph ph-instagram-logo icon"></i>#}
{#                                    <i class="mi mi-instagram icon"></i>#}
{#                                </a>#}
{#                            {% endif %}#}

{#                            {% if this.theme.youtube %}#}
{#                                <a href="{{ this.theme.youtube }}" target="_blank" class="d-inline-flex text-decoration-none">#}
{#                                    <i class="ph ph-youtube-logo icon"></i>#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    {% endif %}#}

{#                    {% if sitepicker.isEnabled %}#}
{#                        <ul class="nav nav-pills sitepicker">#}
{#                            <li class="nav-item position-relative">#}
{#                                <span class="nav-link d-flex align-items-center">#}
{#                                    <img src="{{ ['assets/images/locales/', this.site.code, '.svg']|join|theme }}" alt="{{ this.site.code }}" class="me-2">#}

{#                                    {{ this.site.name }}#}

{#                                    <i class="ph ph-caret-down ms-1 sitepicker-toggler"></i>#}
{#                                </span>#}

{#                                <div class="submenu">#}
{#                                    {% component "sitepicker" %}#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    {% endif %}#}
                </div>

                <div class="col text-end d-xxl-none">
                    <a href="#offcanvas" data-bs-toggle="offcanvas" class="d-inline-flex align-items-center offcanvas-toggler text-decoration-none">
                        Menu

                        <i class="ph ph-list ms-2 icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
