<div class="container">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-12 g-5 g-lg-6 g-xl-5 g-xxl-6 py-4">
        <div class="col mt-2 mt-lg-0">
            <img src="{{ 'assets/images/cooperation/cpp.png'|theme }}" alt="ČPP">
        </div>
        <div class="col mt-2 mt-lg-0">
            <img src="{{ 'assets/images/cooperation/kooperativa.png'|theme }}" alt="Kooperativa">
        </div>
        <div class="col mt-2 mt-lg-0">
            <img src="{{ 'assets/images/cooperation/cebia.png'|theme }}" alt="Cebia">
        </div>
    </div>
</div>
<p class="text-center">
    Zajišťujeme možnost sjednání povinného ručení od společností KOOPERATIVA a ČPP.<br>
    Jsme akreditované pracoviště společnosti CEBIA.
</p>
