<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 g-lg-6 g-xl-5 g-xxl-6">
    <div class="col">
        <ul class="nav flex-column gap-2">
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                pravidelná technická prohlídka
            </li>
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                opakovaná technická prohlídka
            </li>
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                technická prohlídka před schválením technické způsobilosti vozidla
            </li>
        </ul>
    </div>

    <div class="col">
        <ul class="nav flex-column gap-2">
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                technická prohlídka před registrací
            </li>
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                evidenční kontrola
            </li>
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                technická prohlídka na žádost zákazníka
            </li>
        </ul>
    </div>

    <div class="col">
        <ul class="nav flex-column gap-2">
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                měření emisí benzín, diesel, LPG a CNG
            </li>
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                dovozy
            </li>
            <li class="nav-item d-inline-flex align-items-center">
                <i class="ph ph-fill ph-caret-right me-2 icon text-primary"></i>
                měření propustnosti autoskel (folií)
            </li>
        </ul>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-5 g-lg-6 g-xl-5 g-xxl-6 mt-3">
    <div class="col">
        <div class="row">
            <div class="col col-3">
                <img src="{{ 'assets/images/services/delay.svg'|theme }}" alt="auto s hodinami">
            </div>
            <div class="col col-8">
                <h3>Převzetí dle potřeby</h3>
                <p>
                    Možnost přistavení vozu na STK a jeho převzetí dle potřeby zákazníka (po dobu provedení STK není nutná přítomnost majitele vozidla).
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col col-3">
                <img src="{{ 'assets/images/services/pick-up.svg'|theme }}" alt="auto u domu">
            </div>
            <div class="col col-8">
                <h3>Pick-up servis STK z domova</h3>
                <p>
                    Možnost vyzvednutí a zpětné předání vozidla v místě dle požadavků zákazníka za úhradu (do 10km od STK 200 Kč, nad 10km dle dohody s STK).
                </p>
            </div>
        </div>
    </div>
</div>
