<div class="row row-cols-2 row-cols-sm-6 row-cols-md-12 g-5 g-lg-6 g-xl-5 g-xxl-6 px-5">
    <div class="col mt-2 mt-lg-0">
        <img src="{{ 'assets/images/services/auto.svg'|theme }}" alt="vozidla M1">
        <p class="h3 text-center mt-0">auta</p>
    </div>

    <div class="col mt-2 mt-lg-0">
        <img src="{{ 'assets/images/services/dodavky.svg'|theme }}" alt="vozidla N1">
        <p class="h3 text-center mt-0">dodávky</p>
    </div>

    <div class="col mt-2 mt-lg-0">
        <img src="{{ 'assets/images/services/traktor.svg'|theme }}" alt="vozidla T">
        <p class="h3 text-center mt-0">traktory</p>
    </div>

    <div class="col mt-2 mt-lg-0">
        <img src="{{ 'assets/images/services/motorky.svg'|theme }}" alt="motocykly">
        <p class="h3 text-center mt-0">motorky</p>
    </div>

    <div class="col mt-2 mt-lg-0">
        <img src="{{ 'assets/images/services/skutry.svg'|theme }}" alt="skútry">
        <p class="h3 text-center mt-0">skútry</p>
    </div>

    <div class="col mt-2 mt-lg-0">
        <img src="{{ 'assets/images/services/ctyrkolka.svg'|theme }}" alt="rolby a čtyřkolky">
        <p class="h3 text-center mt-0">rolby a čtyřkolky</p>
    </div>
</div>

<p class="mt-5 text-center">
    <a href="{{ 'cenik'|page }}" class="btn btn-primary">
        Zobrazit kompletní ceník
        {#                <i class="ph ph-caret-circle-right"></i>#}
    </a>
</p>
