<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5 g-lg-6 g-xl-5 g-xxl-6 px-5">
    <div class="col">
        <p class="text-center">
            <img src="{{ 'assets/images/services/tp.svg'|theme }}" alt="technický průkaz">
            osvědčení o registraci vozidla
        </p>
    </div>

    <div class="col">
        <p class="text-center">
            <img src="{{ 'assets/images/services/emission.svg'|theme }}" alt="protokol o emisích">
            protokol o měření emisí s kladným výsledkem
        </p>
    </div>

    <div class="col">
        <p class="text-center">
            <img src="{{ 'assets/images/services/protocol.svg'|theme }}" alt="protokol o předchozí tehcnické prohlídce">
            protokol z poslední technické prohlídky, je-li vozidlo přistavováno k opakované technické prohlídce
        </p>
    </div>

    <div class="col">
        <p class="text-center">
            <img src="{{ 'assets/images/services/wheels.svg'|theme }}" alt="auto s koly bez poklic">
            vozidlo bez okrasných krytů kol (poklic)
        </p>
    </div>
</div>

<p class="text-center">
    <a href="{{ 'potrebne-doklady'|page }}" class="btn btn-primary">
        Další potřebné dokumenty
    </a>
</p>
