<div class="swiper slider-swiper">
    <div class="swiper-wrapper">
        {% for slide in slides %}
            <div class="swiper-slide">
                {% if slide.link %}
                    <a href="{{ slide.link }}">
                {% endif %}
                        <picture>
                            {% if settings and settings.image_lg_width and settings.image_lg_height %}
                                <source media="(min-width:768px)" srcset="{{ slide.image_lg.thumb(settings.image_lg_width, settings.image_lg_height, {"mode": "crop"}) }}">
                            {% else %}
                                <source media="(min-width:768px)" srcset="{{ slide.image_lg.path }}">
                            {% endif %}

                            {% if settings and settings.image_sm_width and settings.image_sm_height %}
                                <img src="{{ slide.image_sm.thumb(settings.image_sm_width, settings.image_sm_height, {"mode": "crop"}) }}" alt="{{ slide.image_sm.description }}" class="img-fluid w-100">
                            {% else %}
                                <img src="{{ slide.image_sm.path }}" alt="{{ slide.image_sm.description }}" class="img-fluid w-100">
                            {% endif %}
                        </picture>
                {% if slide.link %}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="swiper-button-next d-none d-md-flex">
        <i class="ph ph-caret-right icon"></i>
    </div>

    <div class="swiper-button-prev d-none d-md-flex">
        <i class="ph ph-caret-left icon"></i>
    </div>

    <div class="swiper-pagination"></div>
</div>
