{% for item in items %}
    {% if not item.viewBag.isHidden %}
        <li class="nav-item level-{{ level }} w-100 {{ item.viewBag.cssClass }}">
            <div class="d-flex align-items-center justify-content-between">
                <a href="{% if item.url %}{{ item.url }}{% else %}#level-{{ level }}-{{ item.title|slug }}{% endif %}" {{ not item.url ? 'data-bs-toggle="collapse"' }} {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link position-relative d-inline-flex align-items-center {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'active' : '' }}">
                    {% if level >= 2 %}
                        <i class="ph ph-caret-right me-2 icon"></i>
                    {% endif %}

                    {{ item.title }}
                </a>

                {% if item.items %}
                    <a href="#level-{{ level }}-{{ item.title|slug }}" data-bs-toggle="collapse" class="text-decoration-none">
                        <i class="ph ph-caret-down ms-3 submenu-toggler"></i>
                    </a>
                {% endif %}
            </div>

            {% if item.items %}
                <div class="collapse ps-3" id="level-{{ level }}-{{ item.title|slug }}">
                    <ul class="nav flex-column w-100 gap-4 pt-4">
                        {% partial __SELF__ ~ "::items" items=item.items level=level + 1 %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
