//@import "font";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$enable-negative-margins:               true;

$min-contrast-ratio:                    2.5;

$black:                                 #000000;
$white:                                 #FFFFFF;

$red:                                   #CC0033;
$red-100:                               #F2C7C9;
$red-300:                               #D8534E;
$red-500:                               #c3001a;
$red-700:                               #8F0012;

$green-500:                             #1FA255;
$green-700:                             #107B3C;

$gray-500:                              #707070;
$gray-300:                              #EEEEEE;
$gray-200:                              #E5E4E6;

$primary:                               $green-500;
$dark:                                  $gray-500;
$light:                                 $gray-300;
$success:                               $green-500;
$info:                                  $black;

$body-color:                            $black;

$font-family-sans-serif:                "Roboto Condensed", sans-serif;
$font-family-base:                      $font-family-sans-serif;
$font-family-icons:                     "Phosphor";

$font-weight-bold:                      700;
$font-weight-semibold:                  600;
$font-weight-medium:                    500;
$font-weight-regular:                   400;

$font-size-base:                        1rem;       // 16px
$font-size-sm:                          .75rem;     // 12px

$font-sizes: (
    1:                                  1.5rem,         // 34px
    2:                                  1.25rem,        // 20px
    4:                                  .9375rem,       // 15px
    6:                                  $font-size-sm,  // 12px
);

$line-height-base:                      1.5;

$headings-font-family:                  $font-family-base;
$headings-font-weight:                  $font-weight-bold;
$headings-color:                        $primary;

$header-bg:                             $primary;
$header-border-color:                   $gray-300;
$header-border-width:                   1px;

$header-logo-sm-height:                 55px;           // auto for turn off - this value is relevant from breakpoint below (not included) down
$header-logo-sm-height-breakpoint:      "xxl";          // sm, md, lg, xl, xxl

$header-phone-icon-font-size:           map-get($font-sizes, 2);

$header-socials-icon-font-size:         map-get($font-sizes, 1);
$header-socials-icon-color:             $white;
$header-socials-icon-hover-color:       $primary;

$header-search-link-color:              $white;
$header-search-link-hover-color:        $primary;
$header-search-link-font-size:          map-get($font-sizes, 2);

$header-sitepicker-nav-link-color:      $white;
$header-sitepicker-nav-link-font-size:  map-get($font-sizes, 4);

$header-sitepicker-toggler-font-size:   $font-size-sm;

$header-sitepicker-nav-level-1-bg:                  $white;
$header-sitepicker-nav-level-1-max-height:          400px;
$header-sitepicker-nav-level-1-padding-x:           0;
$header-sitepicker-nav-level-1-padding-y:           10px;
$header-sitepicker-nav-level-1-link-color:          $white;
$header-sitepicker-nav-level-1-link-hover-color:    $gray-500;
$header-sitepicker-nav-level-1-link-font-size:      $header-sitepicker-nav-link-font-size;
$header-sitepicker-nav-level-1-link-padding-x:      15px;
$header-sitepicker-nav-level-1-link-padding-y:      5px;

$h1-font-size:                          2.5rem;             // 40px
$h2-font-size:                          2rem;               // 32px
$h3-font-size:                          1.125rem;           // 18px
$h4-font-size:                          $font-size-base;    // 16px

$link-color:                            $primary;
$link-hover-color:                      $black;
$link-decoration:                       underline;

$nav-link-color:                        $white;
$nav-link-hover-color:                  $white;
$nav-link-hover-bg:                     $green-700;
$nav-link-after-height:                 1px;        // 0 for turn off
$nav-link-padding-x:                    0;
$nav-link-padding-y:                    0;
$nav-link-font-weight:                  $font-weight-regular;
$nav-link-font-size:                    map-get($font-sizes, 2);
$nav-link-submenu-toggler-color:        $white;
$nav-link-submenu-toggler-font-size:    $font-size-sm;

$nav-pills-link-active-color:           $white;
$nav-pills-link-active-bg:              $green-700;

$nav-level-1-bg:                        $white;
$nav-level-1-box-shadow:                0px 20px 20px rgba(34, 45, 50, 0.1);        // false for turn off
$nav-level-1-max-height:                570px;
$nav-level-1-min-width:                 false;      // false for fluid
$nav-level-1-padding-x:                 0;
$nav-level-1-padding-y:                 40px;
$nav-level-1-link-font-size:            map-get($font-sizes, 4);
$nav-level-1-link-font-weight:          $font-weight-regular;
$nav-level-1-link-color:                $gray-500;
$nav-level-1-link-hover-color:          $primary;
$nav-level-1-link-hover-bg:             $green-700;
$nav-level-1-link-active-color:         $primary;
$nav-level-1-link-active-bg:            transparent;
$nav-level-1-link-padding-x:            9px;
$nav-level-1-link-padding-y:            3px;
$nav-level-1-link-underline-height:     1px;        // 0 for turn off
$nav-level-1-link-underline-color:      $nav-level-1-link-color;
$nav-level-1-link-before-content:       "▪";        // none for turn off
$nav-level-1-link-before-color:         $primary;
$nav-level-1-link-before-margin-right:  8px;

$nav-level-2-padding-x:                 0;
$nav-level-2-padding-y:                 0;
$nav-level-2-link-font-size:            map-get($font-sizes, 4);
$nav-level-2-link-font-weight:          $font-weight-regular;
$nav-level-2-link-color:                $gray-500;
$nav-level-2-link-hover-color:          $primary;
$nav-level-2-link-hover-bg:             transparent;
$nav-level-2-link-active-color:         $primary;
$nav-level-2-link-active-bg:            transparent;
$nav-level-2-link-padding-x:            0;
$nav-level-2-link-padding-y:            3px;
$nav-level-2-link-after-height:         0;        // 0 for turn off

$border-radius-lg:                      0px;
$border-radius:                         0px;
$border-radius-sm:                      0px;

$card-border-width:                     0;
$card-border-radius:                    $border-radius;

$offcanvas-toggler-font-size:           $font-size-sm;
$offcanvas-toggler-color:               $white;
$offcanvas-toggler-icon-font-size:      $h2-font-size;
$offcanvas-toggler-close-color:         $white;
$offcanvas-bg-color:                    $primary;
$offcanvas-socials-icon-color:          $white;
$offcanvas-socials-link-color:          $white;

$offcanvas-nav-link-color:              $white;
$offcanvas-nav-link-font-size:          $h3-font-size;
$offcanvas-nav-link-font-weight:        $font-weight-bold;

$offcanvas-nav-level-1-link-color:          $offcanvas-nav-link-color;
$offcanvas-nav-level-1-link-font-size:      map-get($font-sizes, 4);
$offcanvas-nav-level-1-link-font-weight:    $font-weight-medium;
$offcanvas-nav-level-1-icon-font-weight:    $font-size-sm;

$slider-navigation-color:               $black;
$slider-navigation-bg:                  $white;
$slider-navigation-font-size:           map-get($font-sizes, 2);
$slider-navigation-width:               40px;
$slider-navigation-height:              $slider-navigation-width;
$slider-navigation-sides-offset:        40px;
$slider-navigation-hover-color:         $white;
$slider-navigation-hover-bg:            $primary;
$slider-navigation-border-width:        1px;    // 0 for turn off
$slider-navigation-border-color:        $primary;

$slider-pagination-bg:                  $white;
$slider-pagination-inactive-bg:         $white;
$slider-pagination-width:               40px;
$slider-pagination-inactive-width:      20px;
$slider-pagination-height:              5px;
$slider-pagination-border-radius:       10px;

$quick-news-bg:                         $red-500;

$btn-border-radius:                     $border-radius-sm;
$btn-border-width:                      1.5px;
$btn-font-weight:                       $font-weight-semibold;
$btn-font-size:                         map-get($font-sizes, 4);
$btn-padding-x:                         24px;
$btn-padding-y:                         12px;
$btn-padding-x-sm:                      20px;
$btn-padding-y-sm:                      10px;

$dropdown-bg:                           $white;
$dropdown-border-color:                 $gray-300;
$dropdown-border-width:                 $btn-border-width;
$dropdown-color:                        $black;
$dropdown-font-size:                    $btn-font-size;
$dropdown-min-width:                    100%;
$dropdown-item-padding-x:               $btn-padding-x;
$dropdown-item-padding-y:               7px;
$dropdown-link-active-bg:               $gray-200;
$dropdown-link-active-color:            $black;

$badge-font-size:                       $font-size-sm;
$badge-font-weight:                     $font-weight-semibold;
$badge-padding-x:                       10px;
$badge-padding-y:                       6px;
$badge-border-radius:                   30px;

$footer-font-size:                      $font-size-sm;
$footer-color:                          $white;
$footer-bg:                             $green-700;

$footer-logo-bg:                        $white;
$footer-logo-hover-bg:                  $primary;

$footer-contact-font-size:              map-get($font-sizes, 4);
$footer-contact-link-color:             $white;
$footer-contact-link-hover-color:       $white;
$footer-contact-link-underline-height:  1px;        // 0 for turn off
$footer-contact-link-underline-color:   $footer-contact-link-color;
$footer-contact-phone-font-size:        $footer-contact-font-size;
$footer-contact-email-font-size:        $footer-contact-phone-font-size;

$footer-toggler-color:                  $primary;

$footer-bottom-bg:                      $white;
$footer-bottom-font-size:               $footer-font-size;
$footer-bottom-color:                   $black;

$footer-socials-icon-color:             $primary;
$footer-socials-icon-hover-color:       $gray-500;
$footer-socials-link-color:             $gray-500;
$footer-socials-link-hover-color:       $primary;
$footer-socials-link-font-size:         $h3-font-size;

$footer-signature-color:                $footer-socials-link-color;
$footer-signature-hover-color:          $footer-socials-link-hover-color;

$footer-nav-link-color:                 $gray-500;
$footer-nav-link-font-weight:           $font-weight-regular;
$footer-nav-link-font-size:             map-get($font-sizes, 4);
$footer-nav-link-hover-color:           $primary;
$footer-nav-link-underline-height:      1px;        // 0 for turn off
$footer-nav-link-underline-color:       $footer-nav-link-color;
$footer-nav-link-before-content:        "▪";        // none for turn off
$footer-nav-link-before-color:          $primary;
$footer-nav-link-before-top:            2px;

$footer-heading-color:                  $white;
$footer-heading-font-weight:            $font-weight-medium;
$footer-heading-font-size:              $h3-font-size;

$post-card-image-overlay-bg:                rgba($white, .5);
$post-card-image-overlay-icon-font-size:    3rem;
$post-card-title-font-size:                 $h3-font-size;
$post-card-title-font-weight:               $font-weight-medium;
$post-card-title-underline-color:           transparent;
$post-card-hover-title-underline-color:     $primary;

$post-font-weight-bold:                 $font-weight-bold;

$map-card-header-bg:                    $white;
$map-card-footer-bg:                    $white;

$sidebar-nav-bg:                        $gray-300;
$sidebar-nav-padding-x:                 20px;
$sidebar-nav-padding-y:                 5px;

$sidebar-nav-item-border-width:         1px;        // 0 for turn off
$sidebar-nav-item-border-color:         $gray-200;
$sidebar-nav-item-before-content:       "\E13A";    // none for turn off
$sidebar-nav-item-before-font-family:   $font-family-icons;
$sidebar-nav-item-before-font-size:     $font-size-sm;
$sidebar-nav-item-before-color:         $primary;
$sidebar-nav-item-after-content:        none;       // none for turn off
$sidebar-nav-item-after-font-family:    $font-family-icons;
$sidebar-nav-item-after-font-size:      $font-size-sm;
$sidebar-nav-item-after-color:          $primary;

$sidebar-nav-item-active-before-content:    none;       // none for turn off
$sidebar-nav-item-active-after-content:     "\E13A";    // none for turn off

$sidebar-nav-link-color:                $gray-500;
$sidebar-nav-link-font-size:            $font-size-base;
$sidebar-nav-link-font-weight:          $font-weight-regular;
$sidebar-nav-link-underline-color:      $sidebar-nav-link-color;
$sidebar-nav-link-padding-x:            0;
$sidebar-nav-link-padding-y:            10px;

$sidebar-nav-link-hover-color:              $primary;
$sidebar-nav-link-hover-underline-color:    $primary;

$sidebar-nav-link-active-color:             $primary;
$sidebar-nav-link-active-font-weight:       $font-weight-medium;
$sidebar-nav-link-active-underline-color:   transparent;

$table-border-color:                    $gray-500;
$table-cell-padding-x:                  24px;
$table-cell-padding-y:                  16px;
$table-th-font-weight:                  $font-weight-medium;

$content-text-gap-base:                 1.5rem;
$content-text-gap-lg:                   2.5rem;
$content-text-color:                    $gray-500;
$content-text-strong-font-weight:       $font-weight-bold;

$content-text-link-color:                   $primary;
$content-text-link-font-weight:             $content-text-strong-font-weight;
$content-text-link-underline-color:         $primary;
$content-text-link-hover-color:             $gray-500;
$content-text-link-hover-underline-color:   $gray-500;

$content-text-table-head-bg:            $gray-300;
$content-text-table-head-font-size:     $h3-font-size;
$content-text-table-body-font-size:     $font-size-base;

$breadcrumb-margin-bottom:              0;
$breadcrumb-divider:                    "-";
$breadcrumb-divider-color:              $body-color;
$breadcrumb-font-size:                  $font-size-sm;
$breadcrumb-font-weight:                $font-weight-medium;
$breadcrumb-active-color:               $gray-500;
$breadcrumb-link-color:                 $body-color;
$breadcrumb-link-underline-color:       $body-color;
$breadcrumb-link-hover-color:           $primary;
$breadcrumb-link-hover-underline-color: $primary;
$breadcrumb-home-link-font-size:        $h2-font-size;
$breadcrumb-home-link-color:            $body-color;
$breadcrumb-home-link-hover-color:      $primary;

$contact-card-image-overlay-bg:                     $post-card-image-overlay-bg;
$contact-card-image-overlay-icon-font-size:         $post-card-image-overlay-icon-font-size;
$contact-card-title-font-size:                      $font-size-base;
$contact-card-title-font-weight:                    $font-weight-bold;
$contact-card-job-font-size:                        $contact-card-title-font-size;
$contact-card-contact-icon-font-size:               $h3-font-size;
$contact-card-contact-icon-color:                   $primary;
$contact-card-contact-link-color:                   $body-color;
$contact-card-contact-link-underline-color:         transparent;
$contact-card-contact-link-hover-color:             $primary;
$contact-card-contact-link-hover-underline-color:   $contact-card-contact-link-hover-color;

$files-link-color:                                  $body-color;
$files-link-underline-color:                        $body-color;
$files-link-hover-color:                            $primary;
$files-link-hover-underline-color:                  $files-link-hover-color;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/alert";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.text-decoration-none-w-hover {
    text-decoration: underline;
    transition: $transition-base;
    text-decoration-color: transparent !important;
    text-underline-offset: 3px;

    &:hover {
        text-decoration-color: inherit !important
    }
}

@mixin mask-image($image, $width: 24, $height: 24) {
    mask-image: url("../images/#{$image}.svg");
    -webkit-mask-image: url("../images/#{$image}.svg");
    mask-size: cover;
    -webkit-mask-size: cover;
    width: #{$width}px;
    height: #{$height}px;
    display: inline-block;
}

.mi {
    &-facebook {
        @include mask-image("icons/facebook", 12, 13);
    }

    &-instagram {
        @include mask-image("icons/instagram", 12, 13);
    }

    &-youtube {
        @include mask-image("icons/youtube");
    }

    &-logo {
        @include mask-image("logo", 111, 40);
    }

    &-signature {
        @include mask-image("signature", 85, 25);
    }

    &-12 {
        width: 12px;
        height: 12px;
    }

    &.link-primary {
        background-color: $primary;
        transition: $transition-base;

        &:hover {
            background-color: $black;
        }
    }
}

.btn {
    &.btn-primary {
        --bs-btn-hover-color: #{$white};
        --bs-btn-hover-bg: #{$green-700};
        --bs-btn-hover-border-color: #{$primary};
    }

    &.btn-outline-light {
        --bs-btn-color: #{$black};
        --bs-btn-bg: transparent;
        --bs-btn-border-color: #{$gray-300};
        --bs-btn-hover-color: #{$black};
        --bs-btn-hover-bg: #{$gray-300};
        --bs-btn-hover-border-color: #{$gray-300};
    }
}

.link {
    &-info {
        transition: $transition-base;

        &:hover {
            color: $primary !important;
        }
    }
}
