{% for item in items %}
    {% if not item.viewBag.isHidden %}
        <li role="presentation" class="col nav-item d-flex flex-column level-{{ level }} {{ item.viewBag.cssClass }}">
            {% if item.url %}
                <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link position-relative {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'active' : '' }}">
                    {{ item.title }}
                </a>

                {% if item.viewBag.isExternal %}
                    <i class="ph ph-arrow-up-right ms-2 external-link-icon"></i>
                {% endif %}
            {% else %}
                <span class="nav-link position-relative {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'active' : '' }}">
                    {{ item.title }}
                </span>
            {% endif %}

            {% if item.items %}
                <div class="submenu">
                    <div class="container-lg">
                        <ul class="nav flex-column">
                            {% partial __SELF__ ~ "::items" items=item.items level=3 %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
