url = "/"
layout = "default"
title = "Úvod"

[collection partners]
handle = "Partners\Partner"

[homepage]

[blogPosts flashmessage]
postsPerPage = 1
sortOrder = "published_at desc"

[blogPosts posts]

[blogPosts postsslider]
==
<?php
function onEnd()
{
    $blocks = $this["homepage"]->blocks;

if (!is_null($blocks)) {
$blockTypes = [
"flash_message" => "flashmessage",
"posts"         => "posts",
"posts_slider"  => "postsslider",
];

foreach ($blocks as $block) {
if (isset($blockTypes[$block->type])) {
${"block" . $block->id} = $this->page->components[$blockTypes[$block->type]];
${"block" . $block->id}->setProperty("categoryFilter", $block->blog_category->slug);
${"block" . $block->id}->setProperty("rowCols", $block->row_cols);
${"block" . $block->id}->onRun();
}
}
}
}
?>
==
{% for block in homepage.blocks %}
    <div class="container-fluid{% if block.no_gutters %} g-{% if block.no_gutters_breakpoint != "xs" %}{{ block.no_gutters_breakpoint }}-{% endif %}0{% endif %}{% if loop.index > 1 and block.padding_top %} pt-5{% endif %} block block-{{ block.type }}{% if block.partial %} block-{{ block.partial }}{% endif %}">
        <div class="container{% if block.is_fluid %}-fluid{% else %}-lg{% endif %}{% if block.no_gutters %} g-{% if block.no_gutters_breakpoint != "xs" %}{{ block.no_gutters_breakpoint }}-{% endif %}0{% endif %}{% if loop.index > 1 and block.padding_top %} pt-xl-4{% endif %}">
            {% if block.heading and block.type != "image_text" %}
                <h2 class="mb-5 text-center">
                    {{ block.heading }}
                </h2>
            {% endif %}

            {% if block.type == "slider" %}
                {% partial "_swiper/slider" slides=block.slider.slides settings=block.slider %}
            {% elseif block.type == "image_text" %}
                {% partial "_block/image-text.htm" image=block.image text=block.text heading=block.heading switched=block.switch_order %}
            {% elseif block.type == "embed" %}
                {% partial "_block/embed.htm" embed=block.embed %}
            {% elseif block.type == "posts" %}
                {% component "posts" %}
            {% elseif block.type == "posts_slider" %}
                {% component "postsslider" %}
            {% elseif block.type == "flash_message" %}
                {% component "flashmessage" %}
            {% elseif block.type == "partial" %}
                {% partial block.partial %}
            {% endif %}
        </div>
    </div>
{% endfor %}
