url = "/kontakty/:slug"
layout = "default"
title = "Kontakty"

[section category]
handle = "Contacts\Category"
entrySlug = "{{ :slug }}"
entryColumn = "slug"
==
<div class="container-fluid py-5" id="post">
    <div class="container-lg pb-xl-4">
        <h1 class="mb-5">
            Kontakty {{ category.title }}
        </h1>

        {% for subcategory in category.children %}
            <div class="contacts-category mt-5">
                <h2 class="text-primary h3 mb-5 d-flex align-items-center">
                    <span>
                        {{ subcategory.title }}
                    </span>
                </h2>

                <div class="contacts row row-cols-1 g-5 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                    {% for contact in subcategory.contacts %}
                        <div class="contact col fs-4">
                            <p class="name fw-bold mb-0">
                                {{ contact.title }}
                            </p>

                            {% if contact.job %}
                                <p class="job text-dark">
                                    {{ contact.job }}
                                </p>
                            {% endif %}

                            {% if contact.mobile or contact.phone or contact.email %}
                                <div class="d-flex flex-column gap-1">
                                    {% if contact.mobile %}
                                        <p class="mobile mb-0 d-flex align-items-center">
                                            <i class="ph ph-device-mobile text-primary h3 me-2 mb-0"></i>

                                            <a href="tel:{{ contact.mobile }}">
                                                {{ contact.mobile }}
                                            </a>
                                        </p>
                                    {% endif %}

                                    {% if contact.phone %}
                                        <p class="phone mb-0 d-flex align-items-center">
                                            <i class="ph ph-phone text-primary h3 me-2 mb-0"></i>

                                            <a href="tel:{{ contact.phone }}">
                                                {{ contact.phone }}
                                            </a>
                                        </p>
                                    {% endif %}

                                    {% if contact.email %}
                                        <p class="email mb-0 d-flex align-items-center">
                                            <i class="ph ph-envelope-open text-primary h3 me-2 mb-0"></i>

                                            <a href="mailto:{{ contact.email }}">
                                                {{ contact.email }}
                                            </a>
                                        </p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
