{% set pricelist = __SELF__.pricelist %}

<div class="pricelist pricelist-{{ pricelist.slug }}">
    <h2 class="mb-4">
        {{ pricelist.name }}
    </h2>

    <div class="row g-0">
        <div class="col-6 p-2 border-bottom border-1 border-black px-md-3 fw-bold col-sm-8 col-xl-8">
            úkon
        </div>

        <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 fw-bold col-sm-2 col-xl-2 text-end">
            pravidelná prohlídka
        </div>

        <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 fw-bold col-sm-2 col-xl-2 text-end">
            opakovaná prohlídka
        </div>

{#        <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 fw-bold col-sm-2 col-xl-2">#}
{#            textová#}
{#        </div>#}
    </div>

    {% for item in pricelist.items %}
        <div class="row g-0">
            <div class="col-6 p-2 border-bottom border-1 border-black px-md-3 col-sm-8 col-xl-8">
                {{ item.title }}
            </div>

            <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 col-sm-2 col-xl-2 text-end">
                {{ item.price == 0 ? '' : item.price | format_currency('CZK', {fraction_digit: 0}, 'cs-CZ') }}
{#                {{ item.price|number_format(0, ",", " ") }} Kč#}
            </div>

            <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 col-sm-2 col-xl-2 text-end">
                {{ item.price_vat == 0 ? '' : item.price_vat | format_currency('CZK', {fraction_digit: 0}, 'cs-CZ') }}
{#                {{ item.price_vat|number_format(0, ",", " ") }} Kč#}
            </div>

{#            <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 col-sm-2 col-xl-2">#}
{#                {{ item.price_text }}#}
{#            </div>#}
        </div>
    {% endfor %}
</div>
